
<div class="sidenav">
    <a [routerLink]="['/showProfile']">Profile</a>
    <a [routerLink]="['/editProfile']">Update Profile</a>
    <a [routerLink]="['/editPassword']">Update Password</a>
</div>
          
    <div class="main">
    <div class="container">
    <div class="jumbotron">
    <div id="addUser"><br>
      <h4 style="text-align: center">Update Password</h4>
        <div class="form-group">
        <label for="oldPassword">Enter Existing Password: </label>
        <input #oldPass type="password" class="form-control" name="oldPWord" placeholder="Enter Existing Password: " required>
        </div>

        <div class="form-group">
        <label for="newUsername">Enter New Password: </label>
        <input #newPass type="password" class="form-control" name="newPWord" placeholder="Enter New Password: " required>
        </div>
       
        <button type="button" class="btn btn-success" style="margin:10px;" (click)="updateUserPassword(oldPass.value, newPass.value)">Submit</button>
        </div>
        </div>
    </div>
    </div>
